{% extends "base.html" %}
{% block title %}<title>Технологии</title>{% endblock %}
{% block content %}
<div class="container py-5"> 
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="row">
          <h3><center>Atention: При применении автором методов прямого написания html, ни одна страница не пострадала</center></h3>
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Python
              </li>
              <li class="list-group-item">
                Django
              </li>
            </ul>
          </aside>
          <article class="col-12 col-md-9">
            <p>Если честно, то вёрстка страниц вручную навевает на меня тоску. Все эти теги, их ручная расстановка это полный сакс и маст дай. Очень надеюсь что это лиш малая часть работы бэкэндера!</p>
          </article>
        </div>
      </div> 
    </div>
  </div> 
</div>
{% endblock %}